* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: 'Poppins', sans-serif;
}

button, a {
  cursor: pointer;
}

h1 {
  color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
